.nav{
  text-align: center;
  padding: 10px;
  background-color: rgb(240, 234, 234);
}
.nav a{
  text-decoration: none;
  margin: 5px;
}
button{
  padding: 8px;
  background-color: rgb(219, 69, 28);
  color: #fffefe;
}
.minFlower{
  display: flex;
  background-color: rgb(246, 176, 157);
  
}
.headerText{
  margin-top: 50px;
  width: 50%;
}
.headerImg img{
  width: 400px;
  height: 400px;
}
.ourFeatuedFlowers{
  text-align: center;
}
.rectangleFlowers{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
}
 p{
  text-align: center;
}
.rectangle img{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: 10px;
}
.hotDeal{
  display: flex;
  justify-content: center;
  align-items: center;
}
.off{
  color: red;
}
.footer{
  background-color: black;
  color: wheat;
  text-align: center;
  
  margin-bottom: 5px;
}