.nav{
  text-align: center;
  padding: 10px;
  background-color: rgb(240, 234, 234);
}
.nav a{
  text-decoration: none;
  margin: 5px;
}
button{
  padding: 8px;
  background-color: rgb(219, 69, 28);
  color: #fffefe;
}